@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #659dbd;
  font-family: montserrat;
}

.movie-poster-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.favorite-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.movie-info-section {
  margin-top: 50px;
  margin-left: 250px;

}

.movie-description {
  width: 75%;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 120%;
}

.movie-genre {
  width: 75%;
  margin-bottom: 10px;
  margin-left: 20px;
}

.movie-director {
  width: 75%;
  margin-bottom: 10px;
  margin-left: 20px;
}

.director-button {
  color: rgb(228, 243, 14);
}

.genre-button {
  color: rgb(228, 243, 14);
}

