@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #FCE205;
  font-family: montserrat;
}

.movie-poster-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-info-section {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}