@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #659dbd;
  font-family: montserrat;
}

h2 {
  font-size: 300%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 120%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

form {
  width: 500px;
  margin: auto;
}

.login-button {
  margin: auto;
}
